[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

click = "*"
pyyaml = "*"
mitmproxy = {git = "https://github.com:/mitmproxy/mitmproxy.git", editable = true, ref = "6d8731e144eaec2aaf2120c21969c9228b7af95a"}
psutil = "*"
python-crontab = "*"


[dev-packages]

pytest = "*"
pylint = "*"


[requires]

python_version = "3.6"
